body{
	font-size: 14px;
	margin: 0;

	font-size: 14px;
}
.w{
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	
}
.bg{
	background-image: url(../img/bg-2.jpg);
	background-repeat: no-repeat;
	height: 967px;
	background-size: auto 967px; 
	background-position: center;
	background-color: #1E191F;
}
